body {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.App {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;
}

.Game {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;
}
